<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static', filename='styles/ordered_watches.css') }}" rel="stylesheet" type="text/css">
    {% include 'head.html' %}
</head>
<body>
{% include 'header.html' %}

<h2>Your Purchased Watches</h2>
<div class="watch-container">
    <div class="watch-list">
        {% for ordered_watch in ordered_watches %}
        <div class="row-md-12">
            <img alt="{{ ordered_watch.watch.name }}" class="watch-image" src="{{ ordered_watch.watch.image_url }}">
            <div class="watch-details">
                <h3>{{ ordered_watch.watch.name }}</h3>
                <p><strong>Model:</strong> {{ ordered_watch.watch.model }}</p>
                <p><strong>Order Date:</strong> {{ ordered_watch.order_date.strftime('%m/%d/%Y') }}</p>
                <p><strong>Total Items:</strong> {{ ordered_watch.total_items }}</p>
                <p><strong>Decorations:</strong> {{ ordered_watch.decorations }}</p>
                {% if is_admin %}
                <p><strong>User_ID:</strong> {{ ordered_watch.user_id }}</p>
                <p><strong>User Fullname:</strong> {{ ordered_watch.user.full_name }}</p>
                {% endif %}

                <p class="total-price"><strong>Total Price:</strong> ${{ ordered_watch.total_price }}</p>
                <form action="/delete-order/{{ ordered_watch.id }}" method="post">
                    <button class="delete-btn" type="submit">Delete</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% include 'footer.html' %}

</body>
</html>
